<h2>Goal:</h2>

<h3>Title:</h3>
<%= @goal.title %>
<h3>Details:</h3>
<%= @goal.description %>
<h3>Visibility:</h3>
<%= @goal.is_private ? "Private" : "Public" %>
<h3>Finished?:</h3>
<%= @goal.is_completed ? 'Completed' : 'Ongoing' %>
<h3>Cheers:</h3>
<%= 0 %>


<h3>Comments</h3>
